
.icon-clipboard:before { content: '\e800'; } /* '' */
.icon-trophy:before { content: '\e801'; } /* '' */
.icon-award:before { content: '\e802'; } /* '' */
.icon-trophy-1:before { content: '\e803'; } /* '' */
.icon-award-1:before { content: '\e804'; } /* '' */
.icon-award-2:before { content: '\e805'; } /* '' */
.icon-trophy-3:before { content: '\e806'; } /* '' */
.icon-floppy:before { content: '\e807'; } /* '' */
.icon-export:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-trophy-2:before { content: '\f074'; } /* '' */